Backend/Spring/.idea
Backend/.NET/.vs
Backend/.NET/TicketManagementSystem_NET_Backend/.vs
Backend/.NET/TicketManagementSystem_NET_Backend/TicketManagementSystem_NET_Backend/bin/Debug
Backend/.NET/TicketManagementSystem_NET_Backend/TicketManagementSystem_NET_Backend/obj/Debug